.navbar {
  background-color: #222732;
  display: block;
}

.logo {
  text-decoration: none;
  color: white;
  width: 500px;
}

.logo:hover {
  color: white;
}

.logo-img {
  width: 40%;
  height: 30%;
}

.logo-text {
  font-size: 35px;
  font-weight: 700;
}

.nav-item {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  padding-bottom: 5px;
}

.nav-item:hover {
  color: #ff6405;
}

.cart {
  color: #ffffff;
  font-size: 22px;
  transition: 0.5s;
}

.cart:hover {
  color: #ff0050;
}

@media only screen and (max-width: 426px) {
  .navbar-container {
    display: flex;
  }

  .navbar-items {
    display: flex;
    flex-direction: column;
  }

  .login-info {
    display: flex;
    flex-direction: column;
  }
}