.section-container {
  margin-top: 100px;
}

.section-container h4 {
  color: #ff4605;
}

.all-car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 769px) {
  .all-car {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 426px) {
  .all-car {
    grid-template-columns: 1fr;
  }
}