.button-light {
  background-color: transparent !important;
  border: 2px solid white !important;
  color: white !important;
  font-size: 20px !important;
  padding: 8px 40px !important;
}

.button-light:hover {
  background-color: #ff4605 !important;
  border: 2px solid #ff4605 !important;
}

.button-light:focus {
  border: 2px solid white !important;
  color: white;
}

.button-dark {
  background-color: transparent !important;
  border: 2px solid #222732 !important;
  color: #222732 !important;
  font-size: 20px !important;
  padding: 8px 40px !important;
}

.button-dark:hover {
  background-color: #ff4605 !important;
  color: white !important;
  border: 2px solid #ff4605 !important;
}

.button-dark:focus {
  color: #222732;
  border: 2px solid #222732;
}