.banner {
  background-color: #222732;
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-top: 100px;
}

.banner-bg img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

@media only screen and (max-width: 426px) {
  .banner {
    display: flex;
    flex-direction: column;
  }

  .banner-bg img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }

  .banner-text {
    padding: 40px 0;
    text-align: center;
  }
}